<template name="settingsPages">
  <script type="text/template" id="settingsPages">
      <div data-page="settingsPages" class="page">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="center">My Page</div>
          </div>
        </div>
        <div class="page-content">
          <p>Here comes page content</p>
        </div>

        <div className="toolbar tabbar tabbar-labels">
          <div className="toolbar-inner">
            <a href="#" className="tab-link active"><i className="icon {{#if isAndroid}} ion-person-stalker' {{else}} ion-ios-people-outline {{/if}}"></i><span className="tabbar-label">Label 1</span></a>
          </div>
        </div>

      </div>
      </script>
  </template>
