.view-left {
    border-right: 1px solid #b2b2b2;
}
.panel-left .page-content {
    padding: 0;
}
.panel-left .page {


}
.panel-left .navbar {
    position: relative;
    margin-bottom: -44px;
}
body.with-panel-right-reveal .panel-overlay {
    margin-left: 0;
}
@media (min-width: 569px) {
    .panel.panel-left.panel-cover {
        width: 320px;
        left: -320px;
    }
    body.with-panel-left-cover .panel-left {
        -webkit-transform: translate3d(320px, 0, 0);
        -ms-transform: translate3d(320px, 0, 0);
        transform: translate3d(320px, 0, 0);
    }
}
@media (min-width: 769px) {
    body .panel.panel-left.panel-cover {
        left: 0;
        width: 320px;
        display: block;
    }
    body.settings .panel.panel-left.panel-cover {
        left: -320px;
    }
    body.with-panel-left-cover .panel-left {
        -webkit-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    body:not(.settings) .view-main {
        float: right;
        width: -webkit-calc(100% - 320px);
        width: -moz-calc(100% - 320px);
        width: -ms-calc(100% - 320px);
        width: calc(100% - 320px);
    }
    .view-main .navbar .menu-panel-btn {
        display: none;
    }
}



.ionicons {
  font-size: 1.8em;
}

.navbar .navbar-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.page-wrapper {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  height: calc(100% - 50px);
  background: #fff;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.navbar-fixed .page-content, .navbar-through .page-content {
     padding-top: 0px !important;
}
